# ide files
.idea/
*.py~
.empty
.vscode

# notebooks
.ipynb_checkpoints


# logs
logs

# Virtual environment
.env


# Pytest
.coverage

# Python
__pycache__


# Local development stuff
drafts/
output/
notebooks/
