# ide files
.idea/
*.py~
.empty
.vscode
*.swp

# notebooks
.ipynb_checkpoints


# logs
logs

# Virtual environment
venv
.env

# Python stuff
__pycache__
.coverage

# directories
drafts/
output/
notebooks/
