# ide files
.idea/
*.py~
.empty
.vscode
*.swp

# notebooks
.ipynb_checkpoints


# logs
*.log
*.log.*

# Backup files
*.bckp

# Virtual environment
venv
.env
.venv

# Archives
*.zip

# Pytest
.coverage

# Python
__pycache__
.mypy_cache/

# Data files
resume.txt
search_config.yaml

# Local development stuff
drafts/
output/
zap/
notebooks/
zap/
