# AWS configuration
AWS_REGION=us-east-1


# Mailer configuration
SENDER=
RECIPIENT=
ROLE_ARN=
SESSION_NAME=RemoteBotMailerSession

# AI configuration
AI_API_KEY=

# DynamoDB configuration
JOBS_TABLE=jobs_cache
RETENTION_DAYS=30
