# AWS configuration
AWS_REGION=us-east-1

# DynamoDB configuration
JOBS_TABLE=job-hunter-bot-staging-job-cache
RETENTION_DAYS=30

# Mailer configuration
SENDER=
RECIPIENT=
ROLE_ARN=
SESSION_NAME=RemoteBotMailerSession

# AI configuration
AI_API_KEY=
